<nav class="bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=lime&shade=600" alt="Your Company">
        </div>
        <div class="hidden md:ml-6 md:flex md:space-x-8">
          <a href="/" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Search</a>
        </div>
        <div class="hidden md:ml-6 md:flex md:space-x-8">
          <a href="#" class="inline-flex items-center border-b-2 border-lime-500 px-1 pt-1 text-sm font-medium text-gray-900"><%= @forecast_decorator.city %>, <%= @forecast_decorator.state %>, <%= @forecast_decorator.country %></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mx-auto">
  <div class="mx-auto px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <!-- Forecast summary -->
      <div class="lg:col-start-3 lg:row-end-1">
        <h2 class="sr-only">Summary</h2>
        <div class="rounded-lg bg-gray-50 shadow-xs ring-1 ring-gray-900/5">
          <dl class="flex flex-wrap">
            <div class="flex-auto pt-6 pl-6">
              <dt class="text-sm/6 font-semibold text-gray-900">Current status</dt>
            </div>
            <div class="flex-none self-end px-6 pt-4">
              <dt class="sr-only">Status</dt>
              <% if @forecast_decorator.cached_response %>
                <dd class="rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-600 ring-1 ring-green-600/20 ring-inset">Cached</dd>
              <% else %>
                <dd class="rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-400 ring-1 ring-blue-600/20 ring-inset">Not cached</dd>
              <% end %>
            </div>
            <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-6">
              <dt class="flex-none">
                <span class="sr-only">Client</span>
                <svg class="h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z" clip-rule="evenodd" />
                </svg>
              </dt>
              <dd class="text-sm/6 font-medium text-gray-900"><%= @forecast_decorator.city %>, <%= @forecast_decorator.state %>, <%= @forecast_decorator.country %></dd>
            </div>
            <div class="mt-4 flex w-full flex-none gap-x-4 px-6">
              <dt class="flex-none">
                <span class="sr-only">Due date</span>
                <svg class="h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path d="M5.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H6a.75.75 0 0 1-.75-.75V12ZM6 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H6ZM7.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H8a.75.75 0 0 1-.75-.75V12ZM8 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H8ZM9.25 10a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H10a.75.75 0 0 1-.75-.75V10ZM10 11.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V12a.75.75 0 0 0-.75-.75H10ZM9.25 14a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H10a.75.75 0 0 1-.75-.75V14ZM12 9.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V10a.75.75 0 0 0-.75-.75H12ZM11.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H12a.75.75 0 0 1-.75-.75V12ZM12 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H12ZM13.25 10a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H14a.75.75 0 0 1-.75-.75V10ZM14 11.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V12a.75.75 0 0 0-.75-.75H14Z" />
                  <path fill-rule="evenodd" d="M5.75 2a.75.75 0 0 1 .75.75V4h7V2.75a.75.75 0 0 1 1.5 0V4h.25A2.75 2.75 0 0 1 18 6.75v8.5A2.75 2.75 0 0 1 15.25 18H4.75A2.75 2.75 0 0 1 2 15.25v-8.5A2.75 2.75 0 0 1 4.75 4H5V2.75A.75.75 0 0 1 5.75 2Zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75Z" clip-rule="evenodd" />
                </svg>
              </dt>
              <dd class="text-sm/6 text-gray-500">
                <time datetime="2023-01-31"><%= @forecast_decorator.localtime %></time>
              </dd>
            </div>
            <div class="mt-4 flex w-full flex-none gap-x-4 px-6">
              <dt class="flex-none">
                <span class="sr-only">Status</span>
                <svg class="h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M2.5 4A1.5 1.5 0 0 0 1 5.5V6h18v-.5A1.5 1.5 0 0 0 17.5 4h-15ZM19 8.5H1v6A1.5 1.5 0 0 0 2.5 16h15a1.5 1.5 0 0 0 1.5-1.5v-6ZM3 13.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm4.75-.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z" clip-rule="evenodd" />
                </svg>
              </dt>
              <dd class="text-sm/6 text-gray-500"><%= @forecast_decorator.current_temp_f %>°F (<%= @forecast_decorator.current_temp_c %>°C)</dd>
            </div>
          </dl>
          <div class="mt-6 border-t border-gray-900/5 px-6 py-2 text-lg flex items-center justify-between">
            <%= @forecast_decorator.condition_text %>
            <img class="h-12" src="<%= @forecast_decorator.condition_icon %>"/>
          </div>
        </div>
      </div>

      <!-- Forecast -->
      <div class="-mx-4 px-4 py-8 shadow-xs ring-1 ring-gray-900/5 sm:mx-0 sm:rounded-lg sm:px-8 sm:pb-14 lg:col-span-2 lg:row-span-2 lg:row-end-2 xl:px-16 xl:pt-16 xl:pb-20">
        <h2 class="text-base font-semibold text-gray-900">Forecast</h2>
        <dl class="mt-6 grid grid-cols-1 text-sm/6 sm:grid-cols-2">
          <div class="sm:pr-4">
            <dt class="inline text-gray-500">Issued on</dt>
            <dd class="inline text-gray-700"><time datetime="<%= @forecast_decorator.localtime %>"></time><%= @forecast_decorator.localtime %></dd>
          </div>
          <div class="mt-2 sm:mt-0 sm:pl-4">
            <dt class="inline text-gray-500"></dt>
            <dd class="inline text-gray-700"></dd>
          </div>
        </dl>
        <table class="mt-8 w-full text-left text-sm/6 whitespace-nowrap">
          <colgroup>
            <col class="w-1/4">
            <col>
            <col>
            <col>
          </colgroup>
          <thead class="border-b border-gray-200 text-gray-900">
            <tr>
              <th scope="col" class="px-0 py-3 font-semibold">Time</th>
              <th scope="col" class="hidden py-3 pr-0 pl-8 text-right font-semibold sm:table-cell">Temperature (°F)</th>
              <th scope="col" class="hidden py-3 pr-0 pl-8 text-right font-semibold sm:table-cell">Temperature (°C)</th>
              <th scope="col" class="py-3 pr-0 pl-4 text-right font-semibold">Condition</th>
            </tr>
          </thead>
          <tbody>
            <% @forecast_decorator.forecastdays.first.hour.each do |hour| %>
              <tr class="border-b border-gray-100">
                <td class="max-w-0 px-0 py-5 align-top">
                  <div class="font-medium text-gray-900"><%= @forecast_decorator.friendly_time(hour.time) %></div>
                </td>
                <td class="hidden py-5 pr-0 pl-8 text-right align-top text-gray-700 tabular-nums sm:table-cell"><%= hour.temp_f %> °F</td>
                <td class="hidden py-5 pr-0 pl-8 text-right align-top text-gray-700 tabular-nums sm:table-cell"><%= hour.temp_c %> °C</td>
                <td class="py-5 pr-0 pl-4 text-right align-top text-gray-700 flex gap-x-4 items-center justify-end">
                  <div><%= hour.condition.text %></div>
                  <div><img class="h-6" src="<%= hour.condition.icon %>"/></div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="lg:col-start-3">
        <!-- Daily forecast -->
        <h2 class="text-sm/6 font-semibold text-gray-900">Next 5 days</h2>
        <ul role="list" class="mt-6 space-y-6">
          <% @forecast_decorator.forecastdays.each do |day| %>
            <li class="relative flex gap-x-4">
              <div class="absolute top-0 -bottom-6 left-0 flex w-6 justify-center">
                <div class="w-px bg-gray-200"></div>
              </div>
              <div class="relative flex size-6 flex-none items-center justify-center bg-white">
                <img class="h-6" src="<%= day.day.condition.icon %>"/>
              </div>
              <p class="flex-none py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900"><%= @forecast_decorator.friendly_date(day.date) %> </span></p>
              <p class="flex-auto py-0.5 text-xs/5 text-gray-500"><span><%= day.day.mintemp_f %>°F - <%= day.day.maxtemp_f %>°F (<%= day.day.mintemp_c %>°C - <%= day.day.maxtemp_c %>°C)</span></p>
              <p class="flex-none py-0.5 text-xs/5 text-gray-500"><%= day.day.condition.text %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
